<nav class="navbar">
  <div class="nav-container">
    <a href="{{ site.baseurl | default: '/' }}" class="nav-logo">{{ site.title | default: site.github.repository_name }}</a>
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="{{ site.baseurl | default: '/' }}" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseurl }}/KEYCLOAK-SETUP" class="nav-link">Keycloak Setup</a>
      </li>
      <!-- Add more navigation items here -->
    </ul>
  </div>
</nav>